
 <link rel="stylesheet" href="~/css/contact.css"/>
    <h1 style="color:white;">Contact Us</h1>
<div class="row">
    <div class="right-side col-5">
        <p>Bekijk hieronder alle contactgegevens</p>
        <p><b>Tel.nr. Studio:</b> 0800-1122(gratis)</p>
        <p><b>App de studio:</b> download de npo radio 2 app</p>
        <p><b>E-mail:</b> info@radio2.nl</p>
        <p><b>Twitter:</b> twitter.com/NPORadio2</p>
        <p><b>Facebook:</b> facebook.com/NPORadio2   Facebook.com/top2000</p>
        <p><b>Adres:</b> Postbus 26444 1217ZL Hilversum</p>
        <p><b>Bezoekadres:</b> Bart de Graaffweg 2</p>
    </div>
    <form class="col-7">
        <input name="name" type="text" class="feedback-input" placeholder="Name" />
        <input name="email" type="text" class="feedback-input" placeholder="Email" />
        <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
        <input type="submit" id="verstuur" value="SUBMIT" />
       
    </form>
  
</div>
<!-- 
In this example, I've added a new div with the id "right-side" and added the contact information inside of it. 
I also floated the form and the right-side div to the left and right respectively and gave them widths of 40% and 60% respectively.
-->