<form method="post">
	<table>
		<tr>
			<th class="text-light">Naam van liedje</th>
			<th class="text-light">Foto link</th>
		</tr>
		<tr>
			<td><input type="text" name="song" /></td>
			<td><input type="text" name="foto"/></td>
		</tr>
		<tr>
			<td><input type="submit" />toevoegen</td>
		</tr>
	</table>
</form>