<style>
	/* Center the text on the page */
	h1{
		color:white;
	}
	p {
		color: white;
	}
</style>

<h1> frequencies</h1>
<p>
	Bekijk hieronder het complete overzicht van alle frequencies waar NPO Radio 2 op te vinden is.
	<br />
	<b>Friesland</b>: 88.0 MHz en 92.9 MHz
	<br />
	<b>Groningen</b>: 88.0 MHz
	<br />
	<b>Drenthe</b>: 88.0 MHz
	<br />
	<b>Overijssel</b>: 88.0 MHz en 104.6 MHz
	<br />
	<b>Gelderland</b>: 88.2 MHz, 92.6 MHz en 104.6 MHz
	<br />
	<b>Flevoland</b>: 88.0 MHz en 92.6 MHz
	<br />
	<b>Utrecht</b>: 92.6 MHz
	<br />
	<b>Noord-Holland</b>: 92.6 MHz en 92.9 MHz
	<br />
	<b>Zuid-Holland</b>: 92.6 MHz
	<br />
	<b>Zeeland</b>: 92.6 MHz en 97.8 MHz
	<br />
	<b>Noord-Brabant</b>: 88.2 MHz en 92.6 MHz
	<br />
	<b>Limburg</b>: 88.2 MHz, 93.4 MHz en 97.2 MHz
</p>