<!DOCTYPE html>
<html>
<head>
    <title>Fancy Text Page</title>
    <style>
        /* Center the text on the page */
        .center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            color: white;
        }
    </style>
</head>
<body>
    <div class="center">
        <h1><b>Volg NPO Radio 2</b></h1>
        <p>Volg NPO Radio 2 op deze kanalen om op de hoogte te blijven van het laatste nieuws:</p>
        <ul>
            <li>- Facebook</li>
            <li>- Twitter</li>
            <li>- Instagram</li>
            <li>- Youtube</li>
            <li>- Spotify</li>
        </ul>
        <p><b>DOWNLOAD NPO RADIO 2 APP</b></p>
        <p>- Live luisteren/kijken naar NPO Radio 2</p>
        <p>- Gratis berichtje sturen naar de studio</p>
        <p>- Laatste (muziek)nieuws</p>
        <p>- Gidsinformatie en terugluisteren</p>
        <p>- Top 2000 bekijken</p>
        <p>>> Iphone Download</p>
        <p>>> Android Download</p>
    </div>
</body>
</html>
